body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
div,
p,
section {
  margin: 0;
}

ul {
  padding-left: 1.75rem;
}

li {
  color: var(--color-pencel);
  &:not(:first-child) {
    margin-top: 0.25em;
  }
}

h1 {
  font-size: 32px;
}

a {
  color: inherit;
}

p {
  color: var(--color-pencel);
}

p strong {
  color: var(--color-pen);
}
