:root {
  --color-pencel: #4a5258;
  --color-primary: #587cff;
  --color-white: #fff;
  --color-gray_weak: #ebf0f3;
  --color-gray: #eff1f3;
  --color-gray_strong: #a7a8b9;
  --font-thin: 200;
  --font-normal: 400;
  --font-bold: 700;
  --wrap: 720px;
  --layer-on: 1;
  --layer-modal: 50;
}
