:root {
	--color-pencel: #4a5258;
	--color-primary: #30aaf3;
	--color-white: #fff;
	--color-gray_weak: #ebf0f3;
	--color-gray: #dfe7ed;
	--color-gray_strong: #435b68;
	--font-normal: 400;
	--font-bold: 700;
	--wrap: 720px;
	--layer-on: 1;
	--layer-modal: 50;
}
